.review {
  margin-bottom: 20px;
  border-radius: var(--def-radius);
  background-color: var(--font-white);
  box-shadow: var(--formfield-shadow);
}

.review:last-child {
  margin-bottom: 0px;
}

.review_header {
  display: flex;
  align-items: center;
  height: 56px;
  padding: 0 20px;
  border-bottom: 1px solid var(--line);
  font-size: 14px;
  line-height: 14px;
  color: var(--primary-light);
}

.review_header img {
  width: 36px;
  height: 36px;
  margin-right: 10px;
  border-radius: 50%;
}

.review_header p {
  margin-right: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.review_header span {
  flex-shrink: 0;
  margin-left: auto;
}

.review_content {
  padding: 20px;
  font-size: 15px;
  line-height: 20px;
}

@media (min-width: 810px) {
  .review_header img,
  .review_header p {
    margin-right: 25px;
  }

  .review_content {
    font-size: 16px;
  }
}
