.faq {
  margin-top: var(--block-title-top-margin);
}
.faq_title {
  margin-bottom: var(--block-top-margin);
  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
  letter-spacing: var(--letter);
  text-transform: uppercase;
}
