.popcountry_wrapper {
  margin-top: var(--block-title-top-margin);
}

.carousel_wrapper {
  margin: 0 var(--helper-margin);
}

@media (min-width: 810px) {
  .carousel_wrapper {
    margin: 0;
  }
}

.title {
  margin-bottom: var(--block-top-margin);
  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
  letter-spacing: var(--letter);
  text-transform: uppercase;
}
