.seoblock {
  position: relative;
  margin-top: var(--block-title-top-margin);
}

.title {
  margin-bottom: var(--block-top-margin);
}

.title_mark {
  color: var(--secondary);
}

@media (max-width: 809px) {
  .title {
    max-width: 180px;
  }
}
