.switch {
  position: relative;
  display: inline-flex;
  border-radius: 50px;
  background-color: var(--line);
}

.switch_label {
  display: inline-block;
  padding: 10px 12px;
  margin: 0 5px;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  line-height: 16px;
  color: var(--primary-light);
  transition: color 200ms ease-out;
  z-index: 1;
}

.switch_label:hover {
  color: var(--primary);
}
.switch_indicator {
  height: 28px;
  position: absolute;
  top: 4px;
  left: 0;
  border-radius: 50px;
  background-color: var(--primary);
  transition: transform 600ms cubic-bezier(0.02, 0.94, 0.09, 0.97);
  transform: translate3d(5px, 0, 0);
}

.switch input[type='radio']:not(:checked),
.switch input[type='radio']:checked {
  display: none;
}
