.resort_back_btn {
  display: none;
}

@media (min-width: 810px) {
  .resort_back_btn {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--primary);
  }
}

.down_input_wrapper {
  margin: 10px var(--cont-padding-popup) 30px;
}

.down_content_title {
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  color: var(--primary-light);
}

.down_titles_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.down_titles_row .down_content_title {
  margin-bottom: 15px;
}
