.popup_scrollable_content {
  justify-content: center;
  text-align: center;
}

.night_input_wrapper {
  position: relative;
  margin: 0 30px;
  text-align: center;
}

.night_input_wrapper + .night_input_wrapper {
  margin-top: 30px;
}

.night_input[type='text'] {
  margin-top: 10px;
  text-align: center;
}

.plus_minus_btn {
  position: absolute;
  bottom: 10px;
  width: 40px;
  height: 40px;
  border: 0;
  background-color: transparent;
}

.plus_minus_btn:disabled svg,
.plus_minus_btn[disabled] svg {
  stroke: var(--secondary-disabled);
}

.plus_minus_btn svg {
  stroke: var(--secondary);
}

.minus_btn {
  left: 10px;
}

.plus_btn {
  right: 10px;
}

.age_label {
  display: block;
  text-align: center;
  margin-top: 30px;
}

.night_input_age_wrapper + .night_input_age_wrapper {
  margin-top: 10px;
}

.info_btn {
  position: relative;
  padding-right: 22px;
  padding-left: 2px; /* ios visible fix */
  background-color: transparent;
}

.info_btn svg {
  position: absolute;
  top: -3px;
  right: 0;
  fill: var(--primary);
}

.children_details_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add_children_button {
  background-color: var(--secondary);
}

.chosen_ages {
  display: flex;
  flex-wrap: wrap;
  gap: 10px
}

.chosen_ages button {
  display: inline-block;
  padding: 10px 14px;
  border-radius: var(--def-radius);
  background-color: var(--bg);

  @media (max-width: 767px) {
    background-color: white;
  }
}

.close_svg_clipper {
  margin-left: 10px;
  display: inline-block;
  width: 11.31px;
  height: 11.31px;
  overflow: hidden;
  position: relative;
}

.close_svg_clipper svg {
  position: absolute;
  transform: scale(0.65);
  transform-origin: center;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  opacity: 0.5;
}

.age_selector {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

.age_selector button {
  background-color: var(--bg);
  padding: 8px 0;

  @media (max-width: 767px) {
    background-color: white;
  }
}

.age_selector button:hover {
  background-color: var(--line);
}
