.resort_view {
  /* padding: 0 var(--cont-padding-popup); */
}

.back_btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0;
  margin-bottom: 20px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: var(--primary);
}

.back_btn svg {
  flex-shrink: 0;
}

.resort_list {
  margin-bottom: 20px;
}

.resort_group {
  margin-bottom: 16px;
}

.group_title {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  color: var(--primary-light);
}

.resort_item {
  padding: 8px 0;
}

.resort_item label {
  font-weight: 500;
  font-size: 15px;
  color: var(--primary);
}
