.title {
  margin-top: 40px;
  text-align: center;
  font-size: 17px;
  line-height: 20px;
}

@media (min-width: 810px) {
  .title {
    margin: 24px 0;
  }
}

.input_label {
  display: block;
  margin-bottom: 10px;
}

.input_label input {
  position: absolute;
  opacity: 0;
}

.input_label_text {
  display: block;
  padding: 22px 20px;
  font-size: 15px;
  line-height: 18px;
  transition: background-color var(--base-transition);
}

.input:checked + span {
  font-weight: bold;
  color: var(--font-white);
  background-color: var(--secondary);
}

.apply_btn_wrapper {
  margin: 20px;
}
